.btn2 {
    background-color: var(--aareRiverColor, transparent)!important;
}

.btn3 {
    background-color: var(--paragraphColor, transparent)!important;
    padding-top: 1px!important;
    padding-bottom: 1px!important;
    width: 150px;
}