<div class="row">
    <div fxFlex="33.333333%" fxFlex.xs="60%" class="col-4">
        <mat-card class="single-stats-box techplace-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>₡205,890</h3>
                    <span class="d-block gray-color">Total ventas de hoy</span>
                </div>
                <div class="icon">
                    <i class="flaticon-donut-chart"></i>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="33.333333%" fxFlex.xs="60%" class="col-4">
        <mat-card class="single-stats-box techplace-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>AMD Ryzen</h3>
                    <span class="d-block gray-color">Producto mas vendido general</span>
                </div>
                <div class="icon">
                    <i class="flaticon-goal"></i>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="33.333333%" fxFlex.xs="60%" class="col-4">
        <mat-card class="single-stats-box techplace-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>Francisco Arce</h3>
                    <span class="d-block gray-color">Cliente con mas compras</span>
                </div>
                <div class="icon">
                    <i class="flaticon-award"></i>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <mat-card
        class="mb-25 techplace-card new-customers-box">
        <mat-card-header class="border-bottom">
            <h5 class="mb-0">Top 5 productos más comprado en el mes</h5>
        </mat-card-header>
        <mat-card-content>
            <ul class="m-0 p-0">
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>AMD Ryzen</h5>
                                <span class="muted-color">Vendedor: Carlos Conrad</span>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">23 vendidos</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Monitor Samsung</h5>
                                <span class="muted-color">Vendedor: Carlos Conrad</span>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">17 vendidos</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Monitor Acer</h5>
                                <span class="muted-color">Vendedor: Gerardo Medrano</span>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">15 vendidos</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Monitor LG</h5>
                                <span class="muted-color">Vendedor: Gerardo Medrano</span>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">12 vendidos</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Monitor ASUS</h5>
                                <span class="muted-color">Vendedor: Carlos Conrad</span>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">8 vendidos</div>
                        </div>
                    </div>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card
        class="mb-25 techplace-card new-customers-box">
        <mat-card-header class="border-bottom">
            <h5 class="mb-0">Top 5 vendedores con mejor evaluación</h5>
        </mat-card-header>
        <mat-card-content>
            <ul class="m-0 p-0">
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Carlos Conrad</h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge secondary-color">123 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Gerardo Medrano</h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge secondary-color">100 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Extremetech</h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge secondary-color">30 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Intelec</h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge secondary-color">29 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Maria Arias</h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge secondary-color">27 evaluaciones</div>
                        </div>
                    </div>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card
        class="mb-25 techplace-card new-customers-box">
        <mat-card-header class="border-bottom">
            <h5 class="mb-0">Top 3 peores vendedores evaluados</h5>
        </mat-card-header>
        <mat-card-content>
            <ul class="m-0 p-0">
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Jordan Stevenson</h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">2 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Lydia Reese</h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">3 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <img src="assets/img/misc/60x50.png" alt="imagen">
                            <div class="title">
                                <h5>Anty Rodes</h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">5 evaluaciones</div>
                        </div>
                    </div>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card
        class="mb-25 techplace-card new-customers-box">
        <mat-card-header class="border-bottom">
            <h5 class="mb-0">Cantidad de evaluaciones por evaluacion</h5>
        </mat-card-header>
        <mat-card-content>
            <ul class="m-0 p-0">
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <div class="title">
                                <h5>
                                    <i  class="flaticon-star-1" ></i>
                                    <i  class="flaticon-star-1"></i>
                                    <i  class="flaticon-star-1"></i>
                                    <i  class="flaticon-star-1"></i>
                                    <i  class="flaticon-star-1"></i>
                                </h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">1020 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <div class="title">
                                <h5>
                                    <i  class="flaticon-star-1"></i>
                                    <i  class="flaticon-star-1"></i>
                                    <i  class="flaticon-star-1"></i>
                                    <i  class="flaticon-star-1"></i>
                                </h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">720 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <div class="title">
                                <h5>
                                    <i  class="flaticon-star-1" ></i>
                                    <i  class="flaticon-star-1"></i>
                                    <i  class="flaticon-star-1"></i>
                                </h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">690 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <div class="title">
                                <h5>
                                    <i  class="flaticon-star-1" ></i>
                                    <i  class="flaticon-star-1"></i>
                                </h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">301 evaluaciones</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-sm-flex align-items-center justify-content-space-between">
                        <div class="user-info d-flex align-items-center">
                            <div class="title">
                                <h5>
                                    <i  class="flaticon-star-1" ></i>
                                </h5>
                            </div>
                        </div>
                        <div class="info d-flex align-items-center">
                            <div class="badge main-color">120 evaluaciones</div>
                        </div>
                    </div>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    </div>
</div>
